<div *ngIf="userid==null || order.length<=0">
  <div clas="container">
    <h3 class=" text-info text-left mt-3 p-3 ml-5">My Cart({{username}})</h3>

          <div class="row">
              <div class="col-sm-3 m-3">
                  <h1 class="text-center " style="font-family:'Times New Roman', Times, serif"><i class="fa fa-shopping-bag text-warning" aria-hidden="true"></i> User Orders</h1>
              </div>
          
          </div>
          <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4 m-3">
                  <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"  width="100%" height="100%">
              </div>
                <div class="col-sm-4"></div>
          </div>
          <h6 class="display-6 text-center" >Missing order Items?</h6>
      <p class="text-center">Buy Atleast one products to see ordered list </p>
      <button class="btn d-block mx-auto text-light p-2" (click)="goTo()" style=" background-color: rgb(243, 131, 2);">Place order</button>
  
      <hr>
      
  
  </div>
  </div>


<div *ngIf="userid!=null && order.length>0">
    <div class="bg-light px-5 text-right">
        <button class="btn btn-success float-end px-4 my-2" (click)="logout()">Back to Home <i class="fas fa-home"></i></button>
    </div>
    
    
    <div class="container-fluid">
        <h5 class=" text-dark text-left mt-3">My Orders ( {{username}} )</h5>
        <div class="row mt-5 gx-3 d-block mx-auto">
          <div class="col-md-9 col-lg-9 col-9 mx-auto mb-lg-0 mb-5">
        <div class="card p-4 d-block mx-auto m-3" *ngFor="let p of order, let i=index" style="max-width: 1000px;max-height: 100%;">
            <div class="row">
              <div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow "  >
                <img [src]=p.productImgLink class="img-fluid" style="width: 200px; height: 200px;" alt="..."> 
              </div>
              <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                <div class="card-body">
                  <div class="row">
                  <h6 class="card-title">{{p.productname}}</h6> 
                  <p class="card-title p-2 ">Colour : <strong>{{p.colour}}</strong></p> 
                  <p class="card-title p-2">Cost : <strong>{{(p.cost)| currency:"INR"}}</strong></p> 
                  <p class="card-title p-2">Qnty: <strong>{{p.quantity}}</strong></p>
                  </div>
    
                  <hr>
                
                  <div class="row mt-3">
                      <div class="col-sm-6 col-md-6"></div>
                   
                    <div class="col-sm-6 col-md-6">
                      <td class="text-center"><button class="btn btn-danger p-2 " style="display: block; width: 220%;" (click)="delete(i)"><i class="fa fa-trash" aria-hidden="true"></i> Remove</button></td>
    
                    </div>
                  
                 </div>
                 </div>
    
                
             
              </div>
            </div>
          </div>
    </div>
    </div>
    </div>
    </div>

