<div *ngIf="userid!=null">
    <div class="bg-light px-5 text-right">
        <button class="btn btn-success float-end px-4 my-2" (click)="logout()">Back to Home <i class="fas fa-home"></i></button>
    </div>
    
    
    <div class="container-fluid">
        <h5 class=" text-dark text-left mt-3">My Orders ( {{username}} )</h5>
        <div class="row mt-5 gx-3 d-block mx-auto">
          <div class="col-md-9 col-lg-9 col-9 mx-auto mb-lg-0 mb-5">
        <div class="card p-4 d-block mx-auto m-3" *ngFor="let p of order, let i=index" style="max-width: 1000px;max-height: 100%;">
            <div class="row">
              <div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow "  >
                <img [src]=p.productImgLink class="img-fluid" style="width: 200px; height: 200px;" alt="..."> 
              </div>
              <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                <div class="card-body">
                  <div class="row">
                  <h6 class="card-title">{{p.productname}}</h6> 
                  <p class="card-title p-2 ">Colour : <strong>{{p.colour}}</strong></p> 
                  <p class="card-title p-2">Cost : <strong>{{(p.cost)| currency:"INR"}}</strong></p> 
                  <p class="card-title p-2">Qnty: <strong>{{p.quantity}}</strong></p>
                  </div>
    
                  <hr>
                
                  <div class="row mt-3">
                      <div class="col-sm-6 col-md-6"></div>
                   
                    <div class="col-sm-6 col-md-6">
                      <td class="text-center"><button class="btn btn-danger p-2 " style="display: block; width: 220%;" (click)="delete(i)"><i class="fa fa-trash" aria-hidden="true"></i> Remove</button></td>
    
                    </div>
                  
                 </div>
                 </div>
    
                
             
              </div>
            </div>
          </div>
    </div>
    </div>
    </div>
    </div>

