<div style="background-image: linear-gradient(lightblue,lightgreen); ">
<div class="container-fluid bg-dark pt-5" >
    <div class="row bg-dark text-shadow text-white">
        <section class="col-md-1">
            <ul class="one">
                <li>
                    <h6 class="one"> <strong>ABOUT </strong></h6>
                </li>
                <li> <a class="two" href=""> Contact Us </a>  </li>
                <li> <a class="two" href=""> About Us</a>  </li>
                <li> <a class="two" href=""> Carriers</a> </li>
                <li> <a class="two" href=""> FlipcartStories</a> </li>
                <li> <a class="two" href=""> Press</a> </li>

            </ul>

        </section>
        <section class="col-md-2">
            <ul class="one">
                <li>
                    <h6 class="one"><strong> HELP </strong></h6>
                </li>
                <li><a class="two" href="">Payments</a> </li>
                <li><a class="two" href="">Shipping</a> </li>
                <li> <a class="two" href=""> Cancellation and Returns</a> </li>
                <li> <a class="two" href="">FAQ</a> </li>
                <li> <a class="two" href="">Report Infringement</a> </li>

            </ul>
        </section>
        <section class="col-md-2">
            <ul class="one">
                <li>
                    <h6 class="one"><strong> POLICY </strong></h6>
                </li>
                <li><a class="two" href="">Return Policy</a> </li>
                <li><a class="two" href="">Terms of use</a> </li>
                <li> <a class="two" href=""> Security</a> </li>
                <li> <a class="two" href="">Privacy</a> </li>
                <li> <a class="two" href="">Sitemap</a> </li>
                <li> <a class="two" href="">EPR Compliance</a> </li>

            </ul>
        </section>
        <section class="col-md-2">
            <ul class="one">
                <li>
                    <h6 class="one"><strong>SOCIAL </strong></h6>
                </li>
                <li><a class="two" href=""> Facebook <i class="fab fa-facebook text-primary"></i></a> </li>
                <li><a class="two" href="">Twitter <i class="fab fa-twitter text-primary"></i></a> </li>
                <li> <a class="two" href="">Youtube <i class="fab fa-youtube text-danger"></i></a> </li>

            </ul>
        </section>
        <section class="col-md-2">
            <ul class="two">
                <li>
                    <h6 class="one"><strong> Mail Us : </strong> </h6>
                </li>
                <li>
                    Flipkart Internet Private Limited,</li>
<li>  Buildings Alyssa, Begonia &</li>
                    

                   <li>Clove Embassy Tech Village, </li> 

                   <li>Outer Ring Road, Devarabeesanahalli Village, </li> 

                   <li>  Bengaluru, 560103,</li>

                   <li>Karnataka, India </li> 
            </ul>
        </section>
        <section class="col-md-2">
            <ul class="two ">
                <li>
                    <h6 class="one"> <strong>  Registered Office Address:</strong>
                    </h6>
                </li>
                <li>Flipkart Internet Private Limited,</li>

                 <li>    Buildings Alyssa, Begonia & </li>
                    
                 <li>  Clove Embassy Tech Village, </li>
                    
                 <li>  Outer Ring Road, Devarabeesanahalli Village, </li>
                    
                 <li>  Bengaluru, 560103, </li>
                    
                 <li> Karnataka, India </li>
                    
                 <li>  CIN : U51109KA2012PTC066107 </li>
                    
                  <li> <i class="fas fa-tty"></i> Telephone: 1800 208 9898 </li>

            </ul>
        </section>


    </div>
</div>
</div>


<div class="container-fluid border-top-1 bg-dark" style="border-top: 1px solid white;">
    <div class="row">
        <section class="col-sm-2 pt-3 mt-3 mb-3">
            <ul class="two">
                <li >
                    <i class="fas fa-shopping-bag text-warning"></i> Sell On Onlineshop
                </li>
                </ul>
        </section>
           <section class="col-sm-2 pt-3 pt-3 mt-3 mb-3">
            <ul class="two">
                <li>
                 <button style="border-radius: 50%;">   <i class="fas fa-star text-warning"></i> </button>Advertise 
                </li>
                </ul>
           </section>
               <section class="col-sm-2 pt-3 mt-3 mb-3">
                <ul class="two">
                    <li>
                        <i class="fas fa-gift text-warning"></i> GiftCards
                    </li>
                </ul>
               </section>
               
            <section class="col-sm-2  pt-3 mt-3 mb-3">
                <ul class="two">
                    <li>
                        <i class="fas fa-question-circle text-warning"></i>   HelpCenter
                    </li>
                </ul>
            </section>
            <section class="col-sm-2 pt-3 mt-3 mb-3">
                <ul class="two">
                    <li > 
                        © 2007-2020 Onlineshop.com
        
                    </li>
                
                </ul>
            </section>
            <section class="col-sm-2">
                <ul class="two">
                    <li>
                        <img src="https://i.postimg.cc/pVJhzrWx/visa.jpg" class="pt-3 mt-3 mb-3" width="140px" height="60px">

                    </li>
                </ul>
            </section>
            
        
    </div>
</div>
