<div class="border d-flex align-items-center justify-content-center" *ngIf="spinning==0" style="height: 550px;">
        
      
  <div class="spinner-border text-danger" role="status" >
      
    <span class="visually-hidden">Loading...</span>
   
  </div>
  <div><h2>  Loading.... please wait</h2></div>
</div>
<div *ngIf="(userid==null || products.length<=0) && (spinning==1)">
  <div clas="container">
    <h3 class=" text-info text-left mt-3 p-3 ml-5">My Cart({{username}})</h3>

          <div class="row">
              <div class="col-sm-3 m-3">
                  <h1 class="text-center " style="font-family:'Times New Roman', Times, serif"><i class="fa fa-heart text-danger" aria-hidden="true"></i> User Wishlist</h1>
              </div>
          
          </div>
          <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4 m-3">
                  <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"  width="100%" height="100%">
              </div>
                <div class="col-sm-4"></div>
          </div>
          <h6 class="display-6 text-center" >Missing Wish Cart Items?</h6>
      <p class="text-center">Add Atleast one product to see the items you add here</p>
      <button class="btn d-block mx-auto text-light p-2" (click)="goTo()" style=" background-color: rgb(243, 131, 2); ">Add Wish Products</button>
  
      <hr>
      
  
  </div>
  </div>
<div class="container mt-3" *ngIf="spinning==1 && products.length>0">
    <div class="row "  >
        <div class="card col-sm-2 mx-2 mb-4 pb-3 mr-2 ml-2 pr-3 mt-2  d-block mx-auto shadow " *ngFor="let p of products, let i=index "   style="width: 17rem; height: 100%;"    > 

          <div class="card-header p-1 mt-1 bg-white" style="border-bottom:0px;">
            <button class="btn float-right border-0 " style="border-radius: 10%;opacity: 0.9;transition: 0.3s;" (click)="deleteList(i)"><i class="fas fa-trash-alt " id="icon" style="font-size: 23px;color: #96a704;"></i></button>

            <img [src]=p.productImgLink class="card-img-top mt-1 d-block mx-auto bg-white  mb-1"  alt="..."style=" width:200px; height:160px; border-radius:8% ;"> 

          </div>
          <div class="card-body p-1  " style="text-transform: capitalize;height: 200px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;          "> 
            <p class="card-title mt-2" style="font-size: 15px;"><b>{{p.productname}} </b></p>

            <h5 class="card-title d-block mx-auto mt-2 pt-2 text-center"><strong> {{(p.cost)| currency:"INR"}} </strong> </h5> 

          </div>
          <div class="card-footer bg-white mb-2 pb-2" style="border: 0px; height: 60px;">  
            <button id="b1" class="btn btn-success p-2  shadow float-start" data-bs-target="#md1"  (click)="additems(i)"><i class="fas fa-shopping-cart text-warning"></i> Add to Cart</button>
           
            <button id="b2" class="btn btn-primary p-2 shadow pull-right" (click)="back()"><i class="fas fa-undo-alt text-danger"></i> Back</button> 
          </div> 
      </div>
    </div>

</div>

