.nav-link{
    font-size: 20px;
}
nav .search-icon{
    height: 40px;
    width: 50%;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}
nav .search-icon input{
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    color: #000;
    font-size: 16px;
    padding:0px 10px;
    border-radius: 5px 0 0 5px;
}
nav .search-icon .icon{
    height: 100%;
    width: 50px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 0 5px 5px 0;
   cursor: pointer;
}
nav .search-icon .icon:hover{
    background: #e6e6e6;;

}
nav .search-icon .icon i{
    color: #222222;
    font-size: 18px;
}
nav ul li a:hover{
    background:blue;
    
}
nav ul li a{
    font-size: 20px;
}