
<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-primary navbar-light" >
    
  <a class="navbar-brand  "  routerLink="home" routerLinkActive="active" style="color: cornsilk;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 30px; padding-left: 3%; ">Online Shopping 
    <img src="https://tse4.mm.bing.net/th?id=OIP.SH2rt-Ivx6ONeEopEDbbzAHaHa&pid=Api&P=0&w=300&h=300" alt="..." height="30px" width="30px"></a>


  
  <button class="navbar-toggler text-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-right"></span>
  </button>
  <div class="col-sm-2"></div>
  <div class="collapse navbar-collapse col-sm-8 " id="navbarSupportedContent">
           
    <ul class="navbar-nav text-center ">
      
       <!--home-->
      <li class="nav-item" *ngIf="username!='admin'">
        <a class="nav-link mt-2 ml-5 text-white  " data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  routerLink="home" routerLinkActive="active"><i class="fa fa-home pl-1" style="color: coral;" aria-hidden="true" ></i> Home </a>
      </li>
      <!--Cart-->
      <li class="nav-item" *ngIf="username!='admin'">
        <a class="nav-link mt-2 ml-4 text-white" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  routerLink="users/usercart" routerLinkActive="active" *ngIf="username==null" >
          <i class="fa fa-shopping-cart text-warning" aria-hidden="true"></i>

     Cart 
      <button type="button" class="btn btn-white bg-white" style="border-radius: 10px;">0</button> </a>

      <a class="nav-link mt-2  ml-4 text-white" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="users/usercart" routerLinkActive="active" *ngIf="username!=null">
        <i class="fa fa-shopping-cart text-warning" aria-hidden="true"></i>
        Cart 
         <button type="button" class="btn btn-white bg-white" style="border-radius: 10px;" (click)="cartStatus()"> 
        
        {{userCartSize}}  </button> </a>
      
    </li>
    <li *ngIf="username!='admin'">
      <a class="nav-link  mt-2 ml-4 text-white" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="#" routerLink="users/wishlist" routerLinkActive="active"><i class="fas fa-heart ml-1 text-danger"></i> Wishlist</a></li>

    <li class="nav-item" *ngIf="username=='admin'" >
      <a class="nav-link mt-3 mx-2 text-white" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="admindashboard"  routerLinkActive="active" style="font-size: 1.2rem;font-weight: 500;"><i class="fa fa-edit"></i>Add product</a>

  </li>
  <li class="nav-item" *ngIf="username=='admin'">
      <a class="nav-link mt-3 mx-2 text-white" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="admindashboard/viewadminproducts"  routerLinkActive="active" style="font-size: 1.2rem;font-weight: 500;" ><i class="fa fa-xs fa-eye"></i>View products</a>

  </li>
  <!--placeorder-->

  <li class="nav-item" *ngIf="username!='admin'">
    <a class="nav-link mt-2 ml-4 text-white" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  routerLink="users/placeorder" routerLinkActive="active" *ngIf="username==null" >
      <i class="fa fa-shopping-bag" style="color: plum;" aria-hidden="true"></i> Placeorder
      </a>


  <a class="nav-link mt-2 ml-4 text-white" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="#" routerLink="users/placeorder" routerLinkActive="active" *ngIf="username!=null">
    <i class="fa fa-shopping-bag" style="color: plum;" aria-hidden="true"></i>
   PlaceOrder
    </a>
  
</li>
 <!--login-->
      <li class="nav-item" >
        
        <a class="nav-link mt-2 ml-4 text-white" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="login" routerLinkActive="active" *ngIf="username==null" >
          <i class="fa fa-sign-in " style="color:darkcyan" aria-hidden="true"></i> Login </a> 
          <a class="nav-link mt-2 ml-4 text-white" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  href="#" routerLink="" routerLinkActive="active"  *ngIf="username!=null" data-bs-target="#mdl" data-bs-toggle="modal" >
            <div class="col-sm-6">
              <div class="dropdown" >
                <button class="btn bg-white dropdown-toggle shadow " type="button"  (click)="getAllProducts()" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <b> <i class="fa fa-user" style="color: #0cabc7;" aria-hidden="true"></i> {{username}}     </b>       


                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
                  

                  <li><a class="dropdown-item ml-2 mt-1 mb-1"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"   *ngIf="username!='admin'" >  <i class="fa fa-user ml-1 text-success" aria-hidden="true"></i><b>  Profile </b> </a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" *ngIf="username!='admin'" > <button class="btn btn-sm bg-white text-dark" (click)="wishlist()"> <h5> <i class="fas fa-heart ml-1 text-danger"></i> Wishlist </h5> </button></a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" *ngIf="username!='admin'" > <button class="btn btn-sm bg-white text-dark" (click)="placeorder()"><h5>  <i class="fas fa-shopping-bag ml-1" style="color: plum;"></i> PlaceOrder </h5> </button></a></li>
                  <li> <a class="dropdown-item " href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" *ngIf="username!='admin'"> <button class="btn btn-sm bg-white text-dark" (click)="usercart()">
                 <h5>   <i class="fa fa-shopping-cart ml-1 text-warning" aria-hidden="true"></i> Cart </h5> </button>
                     <button type="button" class="btn btn-primary bg-secondary" style="border-radius: 10px;" > 
                    
                    {{userCartSize}}  </button> </a></li>
                  <li><hr class="dropdown-divider"></li>

                  <li> <a class="dropdown-item ml-2" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"> <button class="btn btn-sm bg-white text-secondary" (click)="logout()"><h5> <i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</h5>  </button></a></li>  
                  
                  
                </ul>
              </div>
            </div>
            
                        

              
                 </a>

      </li>
  
          
     

      
      
    </ul>
    
  </div>

</nav>


<!-- router-outlet -->
<router-outlet></router-outlet>

<div>
  <app-footer></app-footer>
</div>
<!--<div >
  
      <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="modalExampleLabel" id="mdl" data-bs-backdrop="static">
  
          <div class="modal-dialog modal-dialo-centered" >
  
              <div class="modal-content">
                  <div class="modal-header text-dark"><h3> Hello {{username}}</h3> 
                      <button class="btn btn-danger " data-bs-dismiss="modal" (click)=onRegister()>x</button>
                  </div>
                  <div class="modal-body">
                     </div>
                         <button class="submit" (click)="logout()">Logout</button>
                      </div>
                  </div>
                  <div>
  
            
  
</div>-->





