<div style="background-image: url('https://i.postimg.cc/yYPJy0bv/assam-india-february-flipkart-logo-phone-screen-stock-image-assam-india-february-flipkart-logo-phone.jpg');
background-size: cover;width: 100%;height: 100%;background-repeat: no-repeat; ">
<div class="container">
    <div class="row ">
            <div class="card shadow d-block mx-auto col-sm-7 one m-5">
                <div class="card-body">

                
            <form  #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
                <section class="row col-sm-12">
                    <h3 class=" text-dark d-block mx-auto mt-3 mb-4" style="text-align: center;"><i class="fas fa-lock"></i> Reset Password</h3> 

                    <div class="col-sm-1">                   
                     </div>
             

                    <div class="row col-sm-6">
                <div class="form-group">
                    <label for="inputAddress" class="form-label"><i class="fas fa-user"></i> Username</label>
                    <input type="text" class="form-control" id="inputAddress" name="username" placeholder="Enter username"  formControlName="username" required ngModel>
                    <div *ngIf =" getControls().username.touched|| submitted && (getControls().username.dirty||getControls().username.invalid)" >

                        <p *ngIf="getControls().username.errors?.required" class="text-danger"> Name is Requied*</p>
                         </div>
                </div>
                
                <div class="form-group">
                    <label for="inputPassword1" class="form-label"><i class="fas fa-lock"></i> New password</label>
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Enter New Password" name="password1" ngModel  formControlName="pwd" required>
                    <div *ngIf =" getControls().pwd.touched|| submitted && (getControls().pwd.dirty||getControls().pwd.invalid)" >

                        <span class="text-danger"
                            *ngIf="getControls().pwd.errors?.required">
                            Password is required *
                        </span>
                        <span class="text-danger"
                            *ngIf="getControls().pwd.errors?.minlength">
                            minimum length should be 6 
                        </span>
                        <div class="text-danger mt-1" *ngIf="getControls().pwd.errors?.pattern">
                            password should have at least 1 uppercase letter and 1 number
                        </div>
                    </div>
                </div>          
                <div class="form-group">
                    <label for="inputPassword1" class="form-label"><i class="fas fa-lock"></i> Confirm Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Re-type new password" name="password2" ngModel  formControlName="pwd1" required>
                    <div *ngIf =" getControls().pwd1.touched|| submitted && (getControls().pwd1.dirty||getControls().pwd1.invalid)" >

                        <span class="text-danger"
                            *ngIf="getControls().pwd1.errors?.required">
                            Password is required *
                        </span>
                        <span class="text-danger"
                            *ngIf="getControls().pwd1.errors?.minlength">
                            minimum length should be 6 
                        </span>
                        <div class="text-danger mt-1" *ngIf="getControls().pwd1.errors?.pattern">
                            password should have at least 1 uppercase letter and 1 number
                        </div>
                    </div>
                </div>      
               
              <div class="card-footer border-0 bg-white">
                    <button type="submit" class="btn btn-success d-block mx-auto m-3 shadow float-start" [disabled]="formRef.invalid" >Update</button>
                    <button type="button" class="btn btn-danger d-block mx-auto m-3 shadow pull-right" (click)="back()" >Back</button>

                </div>
            </div>
            <div class="row col-sm-5">
                <img src="https://i.postimg.cc/7LBNwtrG/flipkart-logo-3-F33927-DAA-seeklogo-com.png" width="100%">
    
            </div>
        </section>
        
            </form>

            <h6 class="text-center text-danger" *ngIf="status">passwords are not same</h6>
        

        
        </div>
    </div>
        </div>
        <div class="col-md-3 col-sm-2"></div>
    
    </div>
</div>
