.container-fluid{
    background-image:url("https://i.postimg.cc/JzdNwLg2/bg-7.jpg");
    width: 100%;
}


h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}
img{
    border-radius: 50%;
}
span{
    margin-left: 0px;
}
p{
    color: black;
   
}
input {
    width: 100%;
    margin: 8px 0;
    border-radius:  20px;
  }

label{
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 1rem;
}
::placeholder {
    color: black;
    font-style: italic;

  }
  
