.container-fluid{
    background-image:url("/assets/bg-4.jpg");
}

label{
    font-size: 1.3rem;
    color: rgb(24, 1, 1);
    font-weight: 600;
}
h2{
    text-align: center;
    font-size: 2rem;
    color: rgb(37, 4, 4);
    font-weight: 800;
}
img{
    border-radius: 50%;
}