<div class="container-fluid">

    <div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 mt-5">
                <div class="card bg-light" >
                    <div class="card-body" style="background-image: url(https://i.postimg.cc/9MF44nmj/bg-8.jpg);">
                        <h2><span><img src="https://i.postimg.cc/Ghrh01mj/ad-1.jpg" alt="" height="50px" weight="50px"></span> Admin</h2>
                <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <!--product name-->
                    <div class="form-group ">
                        <label>Product name</label>
                        <input type="text" class="form-control"  name="pname" formControlName="pname" placeholder="Enter product name..." >
                        <p class="text text-danger" *ngIf="getcontrol().pname.errors?.required && getcontrol().pname.touched">name is required</p>
                        
                    </div>
    
                    <!--product brand-->
                    <div class="form-group">
                        <label>Product brand</label>
                        <input type="text" class="form-control"  name="pbrand" formControlName="pbrand" placeholder="Enter brand name...">
                        <p class="text text-danger" *ngIf="getcontrol().pbrand.errors?.required && getcontrol().pbrand.touched">Brand is required</p>
                        
                        
                    </div>
    
                    <!--product model-->
                    <div class="form-group">
                        <label>Model</label>
                        <input type="text" class="form-control"  name="pmodel" formControlName="pmodel"placeholder="Enter  model..." >
                        <p class="text text-danger" *ngIf="getcontrol().pmodel.errors?.required && getcontrol().pmodel.touched">Model is required</p>
                        
                        
                    </div>
    
                     <!--product category-->
                    <div class="form-group px-3  " style="width: 50%;position: absolute;left: 0px;" >
                        <label>Category</label>
                        <input type="text" class="form-control"  name="pCategory" formControlName="pCategory" placeholder="Enter category">
                        <p class="text text-danger" *ngIf="getcontrol().pCategory.errors?.required && getcontrol().pCategory.touched">Category is required</p>
                        
                        
                    </div>
                    
    
                     <!--product date-->
                    <div class="form-group px-3 mb-3" style="width: 50%;position: absolute;right: 0px;">
                        <label>Manufacturing date</label>
                        <input type="date" class="form-control"  name="pdate" formControlName="pdate" placeholder="Enter date..." >
                        <p class="text text-danger" *ngIf="getcontrol().pdate.errors?.required && getcontrol().pdate.touched">Date is required</p>
                        
                        
                    </div>
    
    
                     <!--product colour-->
                    <br>
                    <div class="form-group mt-5 px-3 " style="width: 50%;position: absolute;left: 0px;padding-top: 1.4rem;padding-bottom: 1.4rem;">
                        <label>Product colour</label>
                        <input type="text" class="form-control"  name="pcol" formControlName="pcol" placeholder="Enter colour..." >
                        <p class="text text-danger" *ngIf="getcontrol().pcol.errors?.required && getcontrol().pcol.touched">colour is required</p>
                        
                        
                        
                    </div>
    
    
                     <!--product price-->
                    <div class="form-group mt-5 px-3" style="width: 50%;position: absolute;right: 0px;padding-top: 1.4rem;padding-bottom: 1.4rem;">
                      <label>price</label>
                      <input type="number" class="form-control"  name="pprice"  formControlName="pprice" placeholder="Enter price...">
                      <p class="text text-danger" *ngIf="getcontrol().pprice.errors?.required && getcontrol().pprice.touched">Price is required</p>
                      
                      
                  </div>
    
    
                   <!--product warranty-->
                  <div class="form-group " style="margin-top: 170px;">
                    <label>warranty</label>
                    <input type="text" class="form-control"  name="pwarranty" formControlName="pwarranty" placeholder="Enter warranty...">
                    <p class="text text-danger" *ngIf="getcontrol().pwarranty.errors?.required && getcontrol().pwarranty.touched">Warranty is required</p>
                    
                    
                </div>
    
    
    
                 <!--product sold by-->
                <div class="form-group">
                    <label>Soldby</label>
                    <input type="text" class="form-control" name="psoldby" formControlName="psoldby" placeholder="Enter sold by">
                    <p class="text text-danger" *ngIf="getcontrol().psoldby.errors?.required && getcontrol().psoldby.touched">Soldby is required</p>
                    
                    
                </div>
    
    
                 <!--product Quantity-->
                <div class="form-group px-3" style="width: 50%;position: absolute;left: 0px;padding-top: 1rem;padding-bottom: 1rem;">
                    <label>Quantity</label>
                    <input type="number" class="form-control" name="pquantity" formControlName="pquantity" placeholder="Enter quantity" >
                    <p class="text text-danger" *ngIf="getcontrol().pquantity.errors?.required && getcontrol().pquantity.touched">Quantity is required</p>
                    
                    
                </div>
    
                 <!--product rating-->
                <div class="form-group px-3" style="width: 50%;position: absolute;right: 0px;padding-top: 1rem;padding-bottom: 1rem;">
                    <label>Rating</label>
                    <input type="number" class="form-control" name="prating" formControlName="prating" placeholder="Enter Rating" >
                    <p class="text text-danger" *ngIf="getcontrol().prating.errors?.required && getcontrol().prating.touched">Rating is required</p>
                    
                    
                </div>
    
    
                 <!--product discount-->
                
                <div class="form-group" style="margin-top: 130px;">
                    <label>Discount</label>
                    <input type="text" class="form-control" name="pdiscount" formControlName="pdiscount" placeholder="Enter Discount">
                    <p class="text text-danger" *ngIf="getcontrol().pdiscount.errors?.required && getcontrol().pdiscount.touched">Discount is required</p>
                    
                    
                </div>
    
    
                 <!--product Highlights-->
    
                <div class="form-group">
                    <label>Highlights</label>
                    <textarea cols="100" rows="5"  class="form-control"  name="pdescription" formControlName="pdescription" placeholder="Enter your Highlights" ></textarea>
                    <p class="text text-danger" *ngIf="getcontrol().pdescription.errors?.required && getcontrol().pdescription.touched">Highlights is required</p>
                    
                    
                </div>
    
    
                 <!--product model-->
                <div class="form-group">
                    <label>Instructions</label>
                    <textarea cols="100" rows="5"  class="form-control"  name="pInstructions" formControlName="pInstructions" placeholder="Enter Instructions"></textarea>
                    <p class="text text-danger" *ngIf="getcontrol().pInstructions.errors?.required && getcontrol().pInstructions.touched">Instructions is required</p>
                    
                    
                </div>
             
    
                 <!--product Description-->
                <div class="form-group">
                    <label>Description</label>
                    <textarea cols="100" rows="5" class="form-control"  name="pdisclaimer" formControlName="pdisclaimer" placeholder="Enter Description"></textarea>
                    <p class="text text-danger" *ngIf="getcontrol().pdisclaimer.errors?.required && getcontrol().pdisclaimer.touched">Description is required</p>
                   
                </div>
    
    
                <!--product model-->
                  <div class="form-group">
                    <label>Upload product photo</label> 
                    <input type="file" class="form-control" (change)="incomingfile($event)" name="photo" accept='image/*' placeholder="Upload file" > </div>
                
                    <div class="col-12">
                
                    </div>
                <br>
                        <div class="form-group" style="text-align: center;" >
                         <button type="submit" class="btn btn-danger" [disabled]="registerForm.invalid">ADD product</button>
                         </div> 
                </form>
                
                </div>
            </div>
            </div>
            
    
        </div>
    </div>
    
    </div>
    