card-img-top{
    border-radius: 50%;
    width: 18%;
    border: 1px solid blue;
    text-align: center;
}
.nav-link{
    font-size: 20px;
}
/*nav .search-icon{
    height: 40px;
    width: 50%;
    display: flex;
    background: #f1f1f8;
}*/
nav .search-icon input{
    height: 100%;
    width: 80%;
    border: 1px solid #ebe5e5;
    color: #000;
    font-size: 16px;
}
nav .search-icon .icon{
    height: 100%;
    width: 50px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #f8f2f2;
    cursor: pointer;
}
nav .search-icon .icon:hover{
    background: #faf6f6;;

}
nav .search-icon .icon i{
    color: #222222;
    font-size: 18px;
}
nav ul li a:hover{
    background:blue;
    
}
nav ul li a{
    font-size: 20px;
}
.icon:hover{opacity: 2;
            background: #e6e1e1;
        color: blue; }
