<body >
    <nav class="navbar navbar-expand-lg bg-light navbar-dark text-dark"   >
        
      <button class="navbar-toggler text-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-dark bg-dark float-end pull-right " style="text-align: right;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <div class="col-sm-2 ">
        <div class="dropdown">
           <button class="btn border-0 dropdown-toggle " type="button" style="font-size: 30px;font-family:Georgia, 'Times New Roman', Times, serif;"   [(ngModel)]="selectedLevel" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-clipboard-list text-info  " style="font-size: 36px;"></i>     Category
          </button> 
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2" >
            <li *ngFor="let j of cat " [value]=j style="text-transform: capitalize;"><a class="dropdown-item" href="#" (click)="getOneProduct(j)" style="text-transform: capitalize;"> {{j}}</a></li>
            
          </ul>
        </div>
      </div>
      <div class="col-sm-2 pull-right d-block mx-auto">
        <div class="dropdown">
          <button class="btn dropdown-toggle border-0 " type="button" style="font-size: 30px;font-family:Georgia, 'Times New Roman', Times, serif"  [(ngModel)]="selectedLevel" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
           <img src="https://i.postimg.cc/T3q6CwtJ/brand-tag-2198726-1832739.webp" style="color: goldenrod;" width="40px" height="40px"> Brands
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3" >
            

            <li *ngFor="let j of brand2 " [value]=j>
              <div *ngFor="let p of cat, let i=index"> 
                <a class="dropdown-item" href="#" *ngIf="j!=p && i==0"> {{j}}
                </a>
              <a class="dropdown-item" href="#" *ngIf="j==p" ><strong style="text-transform: uppercase; color: indianred;">{{j}}</strong>
                <li><hr class="dropdown-divider"></li>
              </a>
             
            </div>
          </li>


          </ul>
        </div>
      </div>
     <!-- <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for products,brands and more" aria-describedby="basic-addon2">
        <span class="input-group-addon fa fa-search" id="basic-addon2"></span>
      </div>-->
      
     <div class="form-group col-sm-6 d-block mx-auto mt-3 search-icon " >
        <input type="search" style="border:1px solid gainsboro;border-right: 0px;" class=" pt-2 pb-2 pr-5 pl-5 ml-5 shadow" placeholder=" Search for products,brands and more"  [(ngModel)]="searchTerm">
         <button type="button" style="position: absolute;border-radius: 1%;border: 1px solid gainsboro;border-left: 0px;" class="form-group bg-white pt-2 pb-1 pr-3 pl-3 shadow">  <i class="fa fa-search  text-primary  "  ></i> </button>
    
      </div>
      <!--<div class="club">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>-->
   
    <!--<div class="form-group col-sm-5 nav-item search-icon ml-3 mr-5 d-block mx-auto mt-3" >
      <input type="search"  placeholder=" Search for products,brands and more"  [(ngModel)]="searchTerm">
      <label class="icon"><a routerLink="home" class="search-btn "  >
        <i class="fa fa-search   " aria-hidden="true"></i> </a></label>
  
    </div>-->
    <div class="col-sm-1"></div>
    </div>
  </nav>

  
    
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
         
          <div class="carousel-item active">
            <img src="https://i.postimg.cc/NFdMBb8M/c2.jpg" alt="shopping" width="100%" height="300">
          </div>


          <div class="carousel-item">
            <img src="https://i.postimg.cc/SQgNXT8Q/c3.jpg" alt="City" width="100%" height="300">
          </div>
          <div class="carousel-item">
            <img src="https://i.postimg.cc/zB05gvy2/c4.jpg" alt="Cosmetics" width="100%" height="300">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
     
      <!--category wise products-->
      <div style="background-image: linear-gradient(lightblue,#a2d1a2); ">
     
<!-- Cards -->
<div class="container mt-3">
    <div class="row "  >
        <div class="card col-sm-2 mx-2 mb-4 pb-3 mr-2 ml-2 pr-3 mt-2  d-block mx-auto shadow " *ngFor="let p of products | search:searchTerm , let i=index "   style="width: 17rem; height: 90%;"    > 

          <button class="btn float-right border-0 " style="border-radius: 10%;opacity: 0.9;transition: 0.3s;" (click)="wishList(i)"><i class="fas fa-heart " id="icon" style="font-size: 23px;color: rgb(6, 41, 105);"></i></button>

          <div class="card-header p-1 mt-1 bg-white" style="border-bottom:0px;cursor: pointer;" (click)="viewitem(i)">
            <img [src]=p.ImgLink class="card-img-top mt-1 d-block mx-auto bg-white  mb-1"  alt="..."style=" width:200px; height:160px; border-radius:8% ;" > 

          </div>
          <div class="card-body p-1  text-center " (click)="viewitem(i)" style="cursor: pointer;text-transform: capitalize;height: 220px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif          "> 
            <p class="card-title mt-2" style="font-size: 15px;"><b>{{p.pname}} </b></p>
            <h6 class="card-title mt-2 pt-2 text-center" > {{p.pbrand}} Brand</h6> 

            <h5 class="card-title d-block mx-auto mt-2 pt-2 text-center"><strong> {{(p.pprice)| currency:"INR"}} </strong> </h5> 
            <h5 class="card-title d-block mx-auto mt-2 pt-2 text-center"><strong><ngb-rating [max]=5 style="color: rgb(51, 80, 22);"[(rate)]=p.prating [readonly]="true" ></ngb-rating>  </strong> </h5> 

          </div>
         <!---<div class="card-footer bg-white mb-2 pb-2" style="border: 0px; height: 60px;">  
            <button id="b1" class="btn btn-success p-2  shadow float-start" data-bs-target="#md1"  (click)="additems(i)"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
           
            <button id="b2" class="btn btn-primary p-2 shadow pull-right" (click)="viewitem(i)"><i class="fas fa-eye"></i> View</button> 
          </div> -->
      </div>
    </div>

</div>
</div>

</body>

